<a href="https://colab.research.google.com/github/Xander50/PRO-C-99/blob/main/C_99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")

*
* *
* * *
* * * *
* * * * *

In [4]:
num = int(input("Enter the number of rows:"))
for i in range(0,num):
  for j in range(0,i+1):
    print("*",end=" ")
  print()

Enter the number of rows:8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [5]:
num = int(input("Enter the number of rows:"))
for i in range(0,num):
  for j in range(0,i+1):
    print("$",end=" ")
  print()

Enter the number of rows:5
$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [9]:
num = int(input("Enter the number of rows:"))
for i in range(1,num):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

Enter the number of rows:20
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [12]:
num = int(input("Enter the number of rows:"))
for i in range(0,num):
  for j in range(num,i,-1):
    print("@",end=" ")
  print()

Enter the number of rows:10
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @
@ @ @ @ @ @
@ @ @ @ @
@ @ @ @
@ @ @
@ @
@

In [35]:
num = int(input("Enter the number of rows:"))
for i in range(num,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

Enter the number of rows:10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1